<!-- NAV BAR -->
<layout-navbar></layout-navbar>
<div class="container-fluid">
    <div class="row">

        <!-- {{--SIDEBAR DISINI--}} -->
        <layout-sidebar></layout-sidebar>
        <!-- {{--SIDEBAR DISINI--}} -->

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                <!-- {{--TITLE--}} -->
                <h1 class="h2">{{title}}</h1>
                <!-- {{--TITLE--}} -->
            </div>
            <!-- {{--CONTENT--}} -->
            <router-outlet></router-outlet>
            <!-- {{--CONTENT--}} -->
        </main>
    </div>
</div>